<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to record audio using the MediaStream Recording API in JavaScript</title>
</head>

<body>
    <h1>How to record audio using the MediaStream Recording API in JavaScript</h1>
    <div>
        <button type="button" id="buttonStart">Start</button>
        <button type="button" id="buttonStop" disabled>Stop</button>
    </div>
    <div>
        <!-- <audio controls id="player"></audio> -->
    </div>
    <script src="voice.js"></script>
</body>

</html>